<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                           
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022128">JAVA- разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Sum&amp;Substance</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023895">Java-разработчик (2GIS World)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023619">Java Developer / Java разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008013">Преподаватель вебинаров по Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023271">Java-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Maxifier Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023213">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023867">Java-разработчик</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">Кадровое агентство Юнити</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000005277">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Faidon Design</td> 
     <td class="salary">От 1 800 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021825">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Plarin</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023893">Java/Python-разработчик (Извлечение данных)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023986">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AFT Project</td> 
     <td class="salary">От 120 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023382">Senior Java Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">PersonalInvest</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022971">Sr. Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022998">Java developer</a></td> 
     <td class="city">Смоленск</td> 
     <td class="companyName">Edisoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022898">Senior Java developer (Team leader)</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">CodeInside</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013803">Scala или Java разработчик / Scala or Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023399">Scala/Java UI Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023401">Scala/Java UI Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023858">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CV Recruitment</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023749">Senior Java developer/разработчик (back-end)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Neklo</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023650">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">VeeRoute</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023658">Главный программист java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "БФТ"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023492">Middle java developer</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Pogodee</td> 
     <td class="salary">От 40 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019904">Java разработчик со знанием front-end технологий</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EastBanc Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022938">JAVA developer / Team lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">IBS</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023508">Старший Java-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Made Simple Ventures LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023906">Java разработчик на "Фактор"</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HumanFactorLabs</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023854">Java Team Lead</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Smartbics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013804">Ведущий Scala / Java разработчик (Senior Scala / Java Developer)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023908">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023856">Java Team Lead</a></td> 
     <td class="city">Таллин</td> 
     <td class="companyName">Smartbics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023829">Java-разработчик микросервисов экосистемы BostonGene Cloud Platform</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BostonGene</td> 
     <td class="salary">От 75 001 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023674">Java Architect</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Competentum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023120">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Zvooq</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021888">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Cloud Consulting AS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020386">Senior Android Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Tark Industries</td> 
     <td class="salary">От 80 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023563">Android программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ProfIT Solutions Networking Telecom</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022798">GWT Разрабочик</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">AgmSoft</td> 
     <td class="salary">От 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023269">Senior Android Developer, Мой Мир (сервис Музыка Mail.Ru)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023683">Старший Разработчик Android (C++, Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000018083">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Avito</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022963">Android-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">WakeApp</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023634">Ведущий серверный разработчик MMO игровой проект на удаленный фултайм</a></td> 
     <td class="city"></td> 
     <td class="companyName">Freeger Digital</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020777">Android-разработчик</a></td> 
     <td class="city">Вильнюс</td> 
     <td class="companyName">Plag - Information Network</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023402">Scala Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023741">C# Backend Developer (мобильный игровой проект)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023948">Anroid разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CTRLFIT</td> 
     <td class="salary">От 150 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023638">Android developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Tapcore</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023314">Крутой тестировщик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary">От 95 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023422">Teamlead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Бластим</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022902">Android-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Magtoapp</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023920">Backend разработчик (Мобильное приложение, SIP)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Helpon</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019856">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Octoberry</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023577">Специалист по автоматизации тестирования</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">НКО Яндекс.Деньги</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023754">Разработчик на Go</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TheQuestion</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023012">Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">CHARGE</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022950">Ruby/Go Developer</a></td> 
     <td class="city">Амстердам</td> 
     <td class="companyName">Relocateme.eu</td> 
     <td class="salary">От 55 000 до 60 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023532">Fullstack (php) разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Tapcore</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023315">Тестировщик, со знанием pl/sql</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022947">Sr. JavaEE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021663">Android Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Simple Systems</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023758">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TheQuestion</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023274">Android разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Sibext Ltd.</td> 
     <td class="salary">От 20 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023624">Android разработчик</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Orange Rockets</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023466">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ANEWS</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023642">Android программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">THE HUMANET</td> 
     <td class="salary">От 120 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021839">QA engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SEMrush</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019790">Преподаватель вебинаров по программированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021641">Senior Android developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Topface</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022428">QA Инженер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023912">Full stack developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Market Music Inc</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023656">Android developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">TeleRetail AG</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023555">BACK-END ПРОГРАММИСТ</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "МСЦ"</td> 
     <td class="salary">От 115 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022987">QA engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SEMrush</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023252">Android разработчик Senior</a></td> 
     <td class="city"></td> 
     <td class="companyName">Beet Lab</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023883">Backend-разработчик (Scala)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TVEVT</td> 
     <td class="salary">От 110 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023435">Разработчик в Сколковский проект</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Арткрим</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023724">Game AI Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023687">Fronted / Backend Web Developer</a></td> 
     <td class="city">Хайлбронн</td> 
     <td class="companyName">Lingner</td> 
     <td class="salary">От 3 200 до 3 200 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021182">iOS и Android разработчики</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Progress Engine</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023723">Системный администратор Unix (отдел эксплуатации)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023672">QA-Lead (проект MAPS.ME)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023882">Python-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023707">Ведущий Python-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023502">Специалист по тестированию MacOS (ICQ)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023408">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Платежный сервис "Матби"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023651">Front-end developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">VeeRoute</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022957">Android-разработчик в Coursmos</a></td> 
     <td class="city"></td> 
     <td class="companyName">Coursmos Inc</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023909">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DigitalHR</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020702">Системный администратор</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sberbank real estate</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021335">Разработчик Windows Phone</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EastBanc Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023383">iOS- разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Русские Информационные Технологии</td> 
     <td class="salary">От 30 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023264">JavaScript developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Teqniksoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023413">Senior Full-stack developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "ФитМост"</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023469">Senior Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ACE Solutions</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021725">Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022948">Scala Developer</a></td> 
     <td class="city">Утрехт</td> 
     <td class="companyName">Relocateme.eu</td> 
     <td class="salary">От 55 000 до 60 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022960">Ведущий разработчик на ROR для финтех</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Onpay</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000012285">Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023490">Опытный разработчик/архитектор Lotus Domino</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ПроБизнесКонсалт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023964">Android Team Lead</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Tark Industries</td> 
     <td class="salary">От 110 до 150 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023005">Android разработчик / Mobile Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Priem Team</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021023">Ведущий разработчик мобильных приложений/Mobile Team Lead Dev</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sberbank real estate</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022334">Программист С++</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">3dliga</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023112">Android разработчик</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">ВКармане</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/61922206">Web-мастер / Web-программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Social Quantum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020115">Javascript разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ivi.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023673">.NET Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Competentum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000006053">Ведущий Flash разработчик / CTO</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ALISA Gaming</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023313">Python-разработчик Яндекс.Такси</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023995">Senior Flash программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KamaGames Studio</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023814">Тестировщик / QA engineer</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">Ecwid Inc.</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023897">Инженер (Continuous Integration)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000007981">C# .NET Developer (Analytics Team)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Plarium</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021287">Разработчик Ruby on Rails</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">HttpLab</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020855">Mobile Games Producer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ALISA Gaming</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023377">BI разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Avito</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022489">Senior Python разработчик / Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000007584">.NET Developer (Marketing Business Intelligence)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Plarium</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000011996">C# .NET Server-Side Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Plarium</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023700">JavaScript Frontend/Backend Developer (биоинформатика)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">AppGenomics</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023360">Head of R&amp;D</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Kelly Services</td> 
     <td class="salary">До 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022909">Тестировщик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PROFI.RU</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023894">Ведущий программист .Net/C# (Fiji)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008805">Senior Software PHP Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PimPay</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022949">JavaScript Developer</a></td> 
     <td class="city">Амстердам</td> 
     <td class="companyName">Relocateme.eu</td> 
     <td class="salary">От 55 000 до 60 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023544">Разработчик Python/Django/PostgreSQL</a></td> 
     <td class="city"></td> 
     <td class="companyName">Девхаб</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023713">Специалист по тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>